# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Database
Main App/data.db

# Logs
*.log.streamlit/secrets.toml
.venv/
.env
*.db
.streamlit/secrets.toml
.env
*.db
